.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: auto; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.bg-dark {
  background: #686868;
  color: #fff; }

.bg-light {
  background: #fff;
  color: #000; }

a {
  text-decoration: none;
  color: #fff; }

p {
  padding-bottom: 1.5rem; }

ul li {
  list-style: none; }

.text-center {
  text-align: center; }

h2, h3, h4 {
  color: #f9a760;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-size: 1.4rem; }

i {
  margin-bottom: 0.5rem; }

.bottom-line {
  width: 100%;
  height: 3px;
  margin-bottom: 3rem;
  background: #f9a760; }

.light-line {
  background: #666;
  overflow: hidden;
  height: 30px;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0px 5px 8px black; }
  .light-line .line-div {
    width: 7px;
    height: 100px;
    background: #f4f4f4;
    display: inline-block;
    margin: 0 0.3rem;
    margin-top: -2rem;
    transform: rotate(45deg); }

.side-line_head {
  display: flex;
  align-items: center;
  justify-content: start; }
  .side-line_head div {
    height: 3px;
    width: 30%;
    border-radius: 3px;
    background: #f9a760; }
  .side-line_head h3 {
    padding: 0 0.5rem; }

.dark-line {
  background: #666;
  overflow: hidden;
  height: 30px;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0px 5px 8px black; }

.line-div {
  width: 7px;
  height: 100px;
  background: #f4f4f4;
  display: inline-block;
  margin: 0 0.3rem;
  margin-top: -2rem;
  transform: rotate(45deg); }

.section-title {
  font-size: 2.3rem;
  color: #f9a760;
  display: block;
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase; }

.lead {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem; }

.current {
  border-bottom: 3px solid #f7f7a9; }

.current-page {
  border: 3px solid #f9a760 !important; }

.btn-main, .btn-secondary, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s; }

.btn-main {
  background: #f9a760;
  color: #000; }

.btn-secondary {
  background: #f7f7a9;
  color: #000; }

.btn-dark {
  background: #666;
  color: #fff; }

.btn-light {
  background: #f4f4f4;
  color: #000; }

button[class^='btn-']:hover,
input[class^='btn-']:hover,
a[class^='btn-']:hover {
  background: #f9a760; }

@media (max-width: 820px) {
  #header-home {
    background: url("../img/header-img.jpg") no-repeat center center/cover;
    height: 800px !important; } }

@media (max-width: 680px) {
  #header-home {
    background: url("../img/header-img.jpg") no-repeat center center/cover;
    height: 720px !important; }
    #header-home nav {
      display: grid;
      grid-template-columns: 1fr !important;
      align-items: center; }
      #header-home nav .logo img {
        width: 100% !important; }
      #header-home nav ul {
        margin-top: -2rem;
        justify-content: center; }
      #header-home nav > div {
        border-bottom: 1px solid; }
    #header-home .header-content {
      margin-top: 3rem !important; }
    #header-home #hamburger-menu {
      position: absolute;
      top: 10.5rem;
      right: 4rem;
      text-align: end; }
      #header-home #hamburger-menu .menu > div {
        margin-top: -3.5rem; }
    #header-home #hamburger-menu .checkbox:checked ~ .menu,
    #header-home #hamburger-menu .checkbox:checked ~ .hamburger {
      position: fixed !important;
      top: 11.5rem;
      right: 4rem;
      z-index: 2; }
    #header-home #hamburger-menu .checkbox:checked ~ .bg-color {
      position: fixed !important;
      top: 6rem;
      right: 4rem;
      z-index: 1; }
    #header-home #hamburger-menu .checkbox:checked {
      position: fixed !important;
      top: 10.5rem;
      right: 4rem; }
  #header-inner {
    background: url("../img/header-img.jpg") no-repeat center center/cover;
    height: 220px !important; }
    #header-inner nav {
      display: grid;
      grid-template-columns: 1fr !important;
      grid-gap: 1rem; }
      #header-inner nav .logo img {
        width: 100% !important;
        height: 100px !important;
        margin-top: 1rem !important; }
      #header-inner nav ul {
        margin-top: -2.5rem !important;
        justify-content: center !important; }
    #header-inner #hamburger-menu {
      position: absolute;
      top: 11rem;
      right: 4rem;
      text-align: end; }
      #header-inner #hamburger-menu .menu > div {
        margin-top: -3.5rem; }
    #header-inner #hamburger-menu .checkbox:checked ~ .menu,
    #header-inner #hamburger-menu .checkbox:checked ~ .hamburger {
      position: fixed !important;
      top: 12rem;
      right: 4rem;
      z-index: 2; }
    #header-inner #hamburger-menu .checkbox:checked ~ .bg-color {
      position: fixed !important;
      top: 6rem;
      right: 4rem;
      z-index: 1; }
    #header-inner #hamburger-menu .checkbox:checked {
      position: fixed !important;
      top: 11rem;
      right: 4rem; }
  #home-a .histories {
    display: grid;
    grid-template-columns: 1fr !important; }
  #home-b .stars {
    display: grid;
    grid-template-columns: 1fr !important; }
  #home-c .read-topics {
    display: grid;
    grid-template-columns: 1fr !important; }
    #home-c .read-topics .topic img {
      width: 200px !important;
      height: 200px !important; }
    #home-c .read-topics .topic .topic-content {
      margin-left: 0.7rem !important; }
      #home-c .read-topics .topic .topic-content .btn-light {
        padding: 0.3rem 0.5rem !important; }
      #home-c .read-topics .topic .topic-content p {
        padding-bottom: 0.3rem !important; }
  #contact-a .text-fields {
    margin: 0 1rem !important; }
  #contact-b form {
    margin: 0 3rem !important; }
  #footer-b .catagories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem !important; }
    #footer-b .catagories .catagory .catagory-content ul li {
      margin-left: 25% !important; }
  #footer-c .main-footer {
    width: 500px !important; }
    #footer-c .main-footer .footer-logo img {
      width: 180px !important;
      height: 70px !important; }
    #footer-c .main-footer .footer-content div a {
      padding-right: 0rem !important; }
    #footer-c .main-footer .footer-content div a:nth-child(2),
    #footer-c .main-footer .footer-content div a:last-child {
      padding-left: 0.5rem !important;
      border-left: 1px solid; } }

@media (max-width: 490px) {
  #header-home {
    background: url("../img/header-img.jpg") no-repeat center center/cover;
    height: 570px !important; }
    #header-home nav {
      display: grid;
      grid-template-columns: 1fr !important;
      align-items: center; }
      #header-home nav .logo {
        width: 250px; }
        #header-home nav .logo img {
          width: 100% !important; }
      #header-home nav ul {
        margin-top: -3rem;
        justify-content: center; }
        #header-home nav ul li a {
          padding: 0.5rem 0.7rem !important;
          margin: 0rem !important;
          font-size: 0.9rem; }
      #header-home nav > div {
        border-bottom: 0px solid; }
    #header-home .header-content {
      margin-top: 2rem !important;
      margin-left: -2rem; }
      #header-home .header-content h3 {
        font-size: 1.55rem; }
      #header-home .header-content p {
        font-size: 0.9rem;
        margin: 0; }
      #header-home .header-content div a {
        padding: 0.5rem 0.8rem !important;
        font-size: 1rem; }
    #header-home #hamburger-menu {
      position: absolute;
      top: 9.5rem;
      right: 1.5rem;
      text-align: end; }
      #header-home #hamburger-menu .menu > div {
        margin-top: -3.5rem; }
        #header-home #hamburger-menu .menu > div h3 {
          font-size: 1rem; }
        #header-home #hamburger-menu .menu > div li {
          margin: 0; }
        #header-home #hamburger-menu .menu > div a {
          font-size: 0.9rem !important; }
    #header-home #hamburger-menu .checkbox:checked ~ .menu,
    #header-home #hamburger-menu .checkbox:checked ~ .hamburger {
      position: fixed !important;
      top: 10.5rem !important;
      right: 1.5rem;
      z-index: 2; }
    #header-home #hamburger-menu .checkbox:checked ~ .hamburger {
      position: fixed !important;
      top: 9rem;
      right: 1.5rem;
      z-index: 2; }
    #header-home #hamburger-menu .checkbox:checked ~ .bg-color {
      position: fixed !important;
      top: 6rem;
      right: 4rem;
      z-index: 1; }
    #header-home #hamburger-menu .checkbox:checked {
      position: fixed !important;
      top: 9.5rem;
      right: 1.5rem; }
  #header-inner {
    background: url("../img/header-img.jpg") no-repeat center center/cover;
    height: 200px !important; }
    #header-inner nav {
      display: grid;
      grid-template-columns: 1fr !important;
      grid-gap: 1rem; }
      #header-inner nav .logo {
        width: 250px;
        height: 90px; }
        #header-inner nav .logo img {
          width: 100% !important;
          height: 80px !important; }
      #header-inner nav ul {
        margin-top: -3rem;
        justify-content: center; }
        #header-inner nav ul li a {
          padding: 0.5rem 0.7rem !important;
          margin: 0rem !important;
          font-size: 0.9rem; }
      #header-inner nav ul {
        margin-top: -2.5rem !important;
        justify-content: center !important; }
    #header-inner #hamburger-menu {
      position: absolute;
      top: 9rem;
      right: 1.5rem;
      text-align: end; }
      #header-inner #hamburger-menu .menu > div {
        margin-top: -3.5rem; }
        #header-inner #hamburger-menu .menu > div h3 {
          font-size: 1rem; }
        #header-inner #hamburger-menu .menu > div li {
          margin: 0; }
        #header-inner #hamburger-menu .menu > div a {
          font-size: 0.9rem !important; }
    #header-inner #hamburger-menu .checkbox:checked ~ .menu,
    #header-inner #hamburger-menu .checkbox:checked ~ .hamburger {
      position: fixed !important;
      top: 9.5rem !important;
      right: 1.5rem;
      z-index: 2; }
    #header-inner #hamburger-menu .checkbox:checked ~ .hamburger {
      position: fixed !important;
      top: 10rem !important;
      right: 1.5rem;
      z-index: 2; }
    #header-inner #hamburger-menu .checkbox:checked ~ .bg-color {
      position: fixed !important;
      top: 6rem;
      right: 4rem;
      z-index: 1; }
    #header-inner #hamburger-menu .checkbox:checked {
      position: fixed !important;
      top: 9rem;
      right: 1.5rem; }
  #home-a h3 {
    font-size: 1.6rem; }
  #home-a .dark-line {
    height: 20px; }
  #home-a .histories {
    display: grid;
    grid-template-columns: 1fr !important; }
    #home-a .histories .history {
      padding: 0.5rem; }
      #home-a .histories .history h3 {
        font-size: 1.2rem; }
      #home-a .histories .history p {
        font-size: 0.9rem !important;
        padding-bottom: 1rem; }
      #home-a .histories .history a {
        padding: 0.5rem 1rem;
        font-size: 1rem; }
  #home-b h3 {
    font-size: 1.5rem !important; }
  #home-b .light-line {
    height: 20px; }
  #home-b .stars {
    display: grid;
    grid-template-columns: 1fr !important; }
    #home-b .stars .star {
      padding: 0.5rem; }
      #home-b .stars .star h3 {
        font-size: 1.2rem !important; }
      #home-b .stars .star p {
        font-size: 0.9rem !important; }
      #home-b .stars .star a {
        padding: 0.5rem 0.8rem; }
  #home-c h3 {
    font-size: 1.5rem; }
  #home-c .dark-line {
    height: 25px; }
  #home-c .read-topics {
    display: grid;
    grid-template-columns: 1fr !important; }
    #home-c .read-topics .topic {
      display: flex;
      flex-direction: column;
      padding: 0.4rem; }
      #home-c .read-topics .topic img {
        width: 100% !important;
        height: 150px !important; }
      #home-c .read-topics .topic .topic-content {
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 0.7rem !important; }
        #home-c .read-topics .topic .topic-content h3 {
          font-size: 1.1rem; }
        #home-c .read-topics .topic .topic-content p {
          font-size: 0.8rem !important; }
        #home-c .read-topics .topic .topic-content .btn-light {
          padding: 0.3rem 0.5rem !important; }
        #home-c .read-topics .topic .topic-content p {
          padding-bottom: 0.3rem !important; }
  #home-c .next-pages a .page {
    width: 35px !important;
    height: 35px !important;
    font-size: 1.1rem;
    padding-top: 0.2rem; }
  #home-c .next-pages a i {
    font-size: 1.6rem; }
  #about-a h3 {
    font-size: 1.8rem; }
  #about-b h3 {
    font-size: 1.8rem; }
  #about-b .authors .author {
    display: block !important;
    padding: 0.3rem 0 !important; }
    #about-b .authors .author img {
      width: 95% !important; }
    #about-b .authors .author .author-content h3 {
      font-size: 1.3rem; }
    #about-b .authors .author .author-content a {
      padding: 0.3rem 0.7rem !important;
      margin-bottom: 0.5rem;
      transform: translateX(0px) !important;
      opacity: 1 !important; }
  #contact-a h3 {
    font-size: 1.8rem; }
  #contact-a p {
    font-size: 1rem !important; }
  #contact-a .text-fields {
    margin: 0rem !important;
    padding: 1rem !important; }
    #contact-a .text-fields > div button {
      padding: 0.5rem 1rem; }
  #contact-b h3 {
    font-size: 1.8rem; }
  #contact-b p {
    font-size: 1rem !important; }
  #contact-b form {
    margin: 0rem !important; }
    #contact-b form > label {
      font-size: 1rem !important; }
    #contact-b form > div button {
      padding: 0.5rem 1rem; }
  #footer-a .socials {
    display: grid;
    grid-template-columns: 1fr !important;
    padding-bottom: 1rem; }
    #footer-a .socials .social h1 {
      font-size: 1.2rem !important; }
    #footer-a .socials .social p {
      font-size: 0.8rem; }
    #footer-a .socials .social-logo ul {
      justify-content: center !important; }
  #footer-b .catagories {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 1rem !important; }
    #footer-b .catagories .catagory .side-line_head div {
      display: none; }
    #footer-b .catagories .catagory .side-line_head h3 {
      font-size: 1.2rem; }
    #footer-b .catagories .catagory .catagory-content ul li {
      margin-left: 0% !important; }
      #footer-b .catagories .catagory .catagory-content ul li a {
        font-size: 0.9rem !important; }
  #footer-c .main-footer {
    width: 310px !important; }
    #footer-c .main-footer .footer-logo img {
      width: 100px !important;
      height: 40px !important; }
    #footer-c .main-footer .footer-content {
      margin-top: 0.3rem !important;
      margin-left: 0rem !important; }
      #footer-c .main-footer .footer-content p {
        font-size: 0.7rem !important; }
      #footer-c .main-footer .footer-content div {
        margin: 0.2rem 0 !important; }
        #footer-c .main-footer .footer-content div a {
          font-size: 0.7rem !important;
          padding-right: 0rem !important; }
        #footer-c .main-footer .footer-content div a:nth-child(2),
        #footer-c .main-footer .footer-content div a:last-child {
          padding-left: 0.2rem !important;
          border-left: 1px solid; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-X: hidden; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  background-color: #000; }

#header-home {
  background: url("../img/header-img.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden; }
  #header-home nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem; }
    #header-home nav .logo img {
      width: 250px;
      height: 70px;
      margin-top: 2rem; }
    #header-home nav ul {
      display: flex;
      height: 120px;
      align-items: center;
      text-align: center;
      margin-right: 5rem; }
      #header-home nav ul li a {
        padding: 0.7rem 1rem;
        text-transform: uppercase;
        margin: 0 0.3rem;
        font-weight: bold;
        transition: all 0.5s; }
      #header-home nav ul li a:hover {
        background: #f4f4f4;
        color: #000; }
  #header-home .header-content {
    margin-top: 7rem;
    padding-left: 2rem; }
    #header-home .header-content h3 {
      text-align: left; }
    #header-home .header-content p {
      text-align: left;
      padding-left: 0; }
  #header-home .p-r {
    position: relative; }

#header-inner {
  background: url("../img/header-img.jpg") no-repeat center center/cover;
  height: 120px;
  width: 100vw;
  background-color: black;
  overflow: hidden; }
  #header-inner .p-r {
    position: relative; }
  #header-inner nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem; }
    #header-inner nav .logo img {
      width: 250px;
      height: 70px;
      margin-top: 2rem; }
    #header-inner nav ul {
      display: flex;
      height: 120px;
      align-items: center;
      text-align: center;
      margin-right: 5rem; }
      #header-inner nav ul li a {
        padding: 0.7rem 1rem;
        text-transform: uppercase;
        margin: 0 0.3rem;
        font-weight: bold;
        transition: all 0.5s; }
      #header-inner nav ul li a:hover {
        background: #f4f4f4;
        color: #000; }

#hamburger-menu .checkbox:checked ~ .menu,
#hamburger-menu .checkbox:checked ~ .hamburger {
  position: fixed !important;
  top: 6rem;
  right: 2rem;
  z-index: 2; }

#hamburger-menu .checkbox:checked ~ .bg-color {
  position: fixed !important;
  top: 6rem;
  right: 2rem;
  z-index: 1; }

#hamburger-menu .checkbox:checked {
  position: fixed !important;
  top: 5rem;
  right: 2rem; }

#hamburger-menu {
  position: absolute;
  top: 5rem;
  right: 2rem;
  text-align: end; }
  #hamburger-menu .bg-color {
    position: absolute;
    top: 0rem;
    right: 0;
    background: rgba(0, 0, 0, 0.868);
    width: 450px;
    height: 110vh;
    margin-top: -7rem;
    margin-right: -7rem;
    transform: translateX(10000px);
    transition: all 0.4s ease-in-out; }
  #hamburger-menu .checkbox {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 30px;
    height: 30px;
    margin-top: -2.2rem;
    z-index: 3;
    cursor: pointer;
    opacity: 0; }
  #hamburger-menu .hamburger {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 28px;
    height: 28px;
    margin-top: -2.2rem;
    display: flex;
    flex: none;
    z-index: 2; }
  #hamburger-menu .hamburger > div {
    width: 100%;
    height: 3px;
    background: #fff;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
  #hamburger-menu .hamburger > div::before,
  #hamburger-menu .hamburger > div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    top: -0.5rem; }
  #hamburger-menu .hamburger > div::before {
    top: 0.5rem; }
  #hamburger-menu .checkbox:checked + .hamburger > div::before,
  #hamburger-menu .checkbox:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg); }
  #hamburger-menu .checkbox:checked + .hamburger > div {
    transform: rotate(45deg); }
  #hamburger-menu .checkbox:checked ~ .hamburger {
    transform: rotate(0deg); }
  #hamburger-menu .checkbox:checked:hover + .hamburger > div {
    transform: rotate(225deg); }
  #hamburger-menu .checkbox:checked ~ .bg-color {
    transform: translateX(0px); }
  #hamburger-menu .menu {
    position: absolute;
    top: 1rem;
    right: 0rem;
    width: 300px;
    height: 100vh;
    padding: 1.7rem 0rem;
    padding-left: 2rem;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    line-height: 2rem; }
    #hamburger-menu .menu > div {
      width: 100%;
      transform: translateY(-50px);
      transition: all 0.2s ease 0.5s; }
      #hamburger-menu .menu > div > div {
        opacity: 0; }
    #hamburger-menu .menu > div > div h3 {
      color: #f9a760;
      text-align: start;
      padding: 1rem 0;
      border-bottom: 1px solid #f9a760; }
    #hamburger-menu .menu ul li {
      border-bottom: 1px dotted rgba(223, 223, 223, 0.583);
      margin: 0.8rem 0; }
    #hamburger-menu .menu ul li a {
      padding: 1rem 0; }
    #hamburger-menu .menu ul li a:hover {
      color: #f9a760; }
  #hamburger-menu .checkbox:checked ~ .menu > div {
    transform: translateY(0px);
    opacity: 1; }
  #hamburger-menu .checkbox:checked ~ .menu > div > div {
    opacity: 1; }
  #hamburger-menu .checkbox:checked ~ .menu {
    visibility: visible; }

#home-a .histories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }
  #home-a .histories .history {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #555;
    border-top: none;
    border-radius: 5px;
    transform: scale(0.95);
    transition: all 0.3s ease; }
    #home-a .histories .history img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    #home-a .histories .history p {
      font-size: 1rem; }
  #home-a .histories .history:hover {
    transform: scale(1);
    box-shadow: 0px 8px 8px #000; }

#home-b .stars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }
  #home-b .stars .star {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(45, 44, 44, 0.202);
    border-top: none;
    border-radius: 5px;
    transform: scale(0.95);
    transition: all 0.3s ease; }
    #home-b .stars .star img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    #home-b .stars .star p {
      font-size: 1rem; }
    #home-b .stars .star .btn-main:hover {
      background: #facaa1; }
  #home-b .stars .star:hover {
    transform: scale(1);
    box-shadow: 0px 8px 8px #000; }

#home-c .read-topics {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem; }
  #home-c .read-topics .topic {
    display: flex;
    align-items: center;
    border: 1px solid #555;
    border-top: none;
    border-radius: 5px;
    transition: all 0.3s ease; }
    #home-c .read-topics .topic img {
      width: 300px;
      height: 100%;
      border-radius: 5px; }
    #home-c .read-topics .topic p {
      font-size: 0.9rem;
      text-align: start; }
    #home-c .read-topics .topic .topic-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 2rem; }
      #home-c .read-topics .topic .topic-content i, #home-c .read-topics .topic .topic-content p {
        display: inline-block; }
      #home-c .read-topics .topic .topic-content i p {
        font-size: 0.8rem;
        color: #b3b3b3;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 0.5rem; }
  #home-c .read-topics .topic:hover {
    border-top: none;
    transform: translateY(-3px);
    box-shadow: 0px 8px 8px #000; }

#home-c .next-pages {
  display: flex;
  align-items: center;
  justify-content: center; }
  #home-c .next-pages i {
    margin: 0 1rem; }
  #home-c .next-pages .page {
    width: 50px;
    height: 50px;
    border: 3px solid;
    margin: 0 0.5rem;
    font-size: 1.7rem;
    padding-top: 0.4rem; }
  #home-c .next-pages a:nth-child(5) .page {
    border: none;
    padding-top: 0.2rem; }
  #home-c .next-pages i:hover,
  #home-c .next-pages .page:hover {
    color: #f9a760; }

#about-a {
  background: #e7e7e7;
  color: #000; }
  #about-a .what-is {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; }
    #about-a .what-is .what {
      text-align: start; }
      #about-a .what-is .what h3 {
        padding-bottom: 1rem;
        border-bottom: 2px dotted; }
      #about-a .what-is .what p {
        padding-top: 0.5rem;
        color: #000; }
    #about-a .what-is .about-list {
      border-top: 1px solid black; }
      #about-a .what-is .about-list ul {
        margin-top: 2rem; }
        #about-a .what-is .about-list ul li {
          margin-bottom: 1rem;
          text-align: start;
          border-bottom: 1px dotted #f9a760;
          padding-bottom: 0.5rem; }
          #about-a .what-is .about-list ul li a {
            color: #000; }
        #about-a .what-is .about-list ul li a:hover {
          color: #f9a760; }

#about-b .section-title {
  margin: 0; }

#about-b .lead {
  margin-top: 0; }

#about-b .authors {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem; }
  #about-b .authors .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #555;
    border-top: 2px solid #f9a760;
    border-radius: 5px;
    padding: 1rem;
    transition: all 0.5s ease; }
    #about-b .authors .author .author-content {
      text-align: start;
      margin-left: 1rem;
      font-size: 0.9rem; }
      #about-b .authors .author .author-content .profession {
        font-size: 0.8rem;
        font-style: italic;
        color: rgba(255, 255, 255, 0.485); }
      #about-b .authors .author .author-content p {
        padding-bottom: 0.5rem; }
      #about-b .authors .author .author-content a {
        padding: 0.5rem 0.7rem;
        transform: translateX(-200px);
        opacity: 0;
        transition: all 0.5s ease; }
    #about-b .authors .author img {
      width: 200px;
      height: 200px;
      z-index: 2;
      border-radius: 5px; }
  #about-b .authors .author:hover {
    box-shadow: 0px 8px 8px #000; }
  #about-b .authors .author:hover a {
    transform: translateX(0px);
    opacity: 1; }

#contact-a .text-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 5rem;
  border: 1px solid #c9c9c9d2;
  padding: 2rem;
  background: #f4f4f4; }
  #contact-a .text-fields .text-field {
    width: 100%;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin: 1rem 0rem;
    padding: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s; }
  #contact-a .text-fields .message-field {
    height: 150px; }
  #contact-a .text-fields .text-field:focus {
    outline: none;
    border-color: #f9a760;
    color: #f9a760; }
  #contact-a .text-fields .text-field:hover {
    box-shadow: 1px 3px 8px #888; }

#contact-b {
  background-color: #dddddd; }
  #contact-b p {
    margin-top: 0;
    padding-top: 0; }
  #contact-b form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 7rem;
    border: 1px solid; }
    #contact-b form label {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: #f9a760;
      text-transform: uppercase;
      border: none;
      border-bottom: 2px solid #f9a760; }
    #contact-b form > * {
      width: 80%;
      height: 2.5rem;
      margin: 1rem 1rem;
      padding: 0 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid  #c0c0c0; }
    #contact-b form .report-message {
      height: 120px; }
    #contact-b form .button,
    #contact-b form .help-contact {
      border: none; }
    #contact-b form .help-contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 0; }
      #contact-b form .help-contact a {
        color: #000;
        font-weight: bold; }
      #contact-b form .help-contact a:hover {
        color: #f9a760; }
    #contact-b form input:focus,
    #contact-b form textarea:focus,
    #contact-b form select:focus {
      outline: none;
      border-color: #f9a760; }
    #contact-b form input:hover,
    #contact-b form textarea:hover,
    #contact-b form select:hover {
      background-color: #dddddd; }

footer {
  background: #121212; }

#footer-a .socials {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: start;
  margin: 0 1rem;
  border-top: 2px dotted #888;
  border-bottom: 2px dotted #888;
  font-size: 0.8rem; }
  #footer-a .socials .social h1 {
    color: #f9a760;
    padding-top: 0.5rem; }
  #footer-a .socials .social-logo ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    #footer-a .socials .social-logo ul a {
      border: 1px solid white;
      border-radius: 50%;
      padding: 0.3rem;
      margin: 0 0.5rem;
      transition: all 0.3s ease; }
      #footer-a .socials .social-logo ul a li {
        width: 25px;
        height: 25px; }
        #footer-a .socials .social-logo ul a li .fa-instagram {
          margin-left: 2px; }
        #footer-a .socials .social-logo ul a li .fa-youtube {
          margin-left: -2px; }
    #footer-a .socials .social-logo ul a:hover {
      background-color: #fff; }
  #footer-a .socials .lead {
    text-align: start;
    padding: 0;
    font-size: 0.9rem; }

#footer-b .catagories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  justify-content: center;
  margin: 0 1rem; }
  #footer-b .catagories .catagory {
    text-align: start;
    font-size: 0.9rem; }
    #footer-b .catagories .catagory .catagory-content ul li {
      width: max-content;
      padding: 0.5rem 0;
      margin: 0.5rem  0;
      margin-left: 30%; }
    #footer-b .catagories .catagory .catagory-content ul li a {
      transition: all 0.3s ease; }
    #footer-b .catagories .catagory .catagory-content ul li a i {
      padding-right: 3px;
      opacity: 0;
      transition: all 0.3s ease; }
    #footer-b .catagories .catagory .catagory-content ul li:hover a {
      color: #f9a760;
      margin-left: 10px; }
    #footer-b .catagories .catagory .catagory-content ul li:hover a i {
      opacity: 1; }

#footer-c {
  background: #000;
  overflow: hidden;
  height: 150px; }
  #footer-c .main-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    width: 650px;
    margin: auto; }
    #footer-c .main-footer .footer-logo img {
      width: 250px;
      height: 70px; }
    #footer-c .main-footer .footer-content {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      margin-left: 0.5rem;
      margin-top: 0.5rem; }
      #footer-c .main-footer .footer-content div {
        margin: 0.5rem 0; }
        #footer-c .main-footer .footer-content div p, #footer-c .main-footer .footer-content div a {
          padding-bottom: 0;
          color: rgba(150, 150, 150, 0.651);
          font-size: 0.8rem; }
        #footer-c .main-footer .footer-content div a {
          padding-right: 0.5rem; }
        #footer-c .main-footer .footer-content div a:nth-child(2),
        #footer-c .main-footer .footer-content div a:last-child {
          padding-left: 1rem;
          border-left: 1px solid; }
